@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.cont-result-loading{
    display: none;
}

.cont-result{
    display: none;
}

#modal{
    display: none;
}

.img-rotate{
    -webkit-animation: rotate 1.1s infinite linear;
            animation: rotate 1.1s infinite linear;
}

/* app */
#app{
    background-color: #5b2385;
    color: white;
    font-family: GmarketSansMedium;
    
}

